[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
authlib = "*"
flask = "*"
flask-login = "*"
flask-migrate = "*"
flask-script = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
"psycopg2-binary" = "*"
gunicorn = "*"

[dev-packages]
