<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}swe0{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/static/styles/electricblue.min.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/index.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  {% include "includes/header.html" %}
  <div class="container contents pad_header">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notifications">
      {% for message in messages %}
      <div class="notification">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
  </div>
</body>
</html>